.board__add-form-button {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #3D3D3D;
  display: inline-block;
  cursor: pointer;
  background: rgba(0,0,0,.2);
  width: 80%;

  & span {
    opacity: 1;
  }
}

.board__add-form {
  text-align: center;
}

.board__add-form-button__title {
  margin-left: 10px;
  font-size: 18px;
  font-weight: bold;
}