.state {
  vertical-align: top;
  display: inline-block;
  width: 33%;
  height: 100%;
  padding: 0 10px;
}

.state_state_done {
  border-right: 2px solid rgba(0, 0, 0, 0);
}

.state_state_todo {
  border-right: 2px solid rgba(0, 0, 0, .5);
}

.state_state_doing {
  border-right: 2px solid rgba(0, 0, 0, .5);
}

.state_drag_active {
  background-color: rgba(255, 255, 0, .3);
}

.state__title {
  text-align: center;
  color: black;
}