.ticket {
  margin: 30px;
  padding: 10px;
  background-color: #E8E77A;
  cursor: grab;
}

.ticket__title {
  font-size: 22px;
  margin: 0px 0px 10px 0px;
  font-weight: bold;
}

.ticket__desc {
  color: #666;
}

.dnd-draggable.dragging {
  z-index: 1;
  pointer-events: none;
  display: block;
  box-shadow: 0 2px 5px rgba(0,0,0,.8);
}
