// Place all the styles related to the board controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, #wall, .board, .board__states, .state {
    min-height: 100% !important;
    height: 100%;
}